blue-color = #3193D6
red-color = #E54D42
dark-color = #222222

body {
  color white
}

.street-view > img,
.street-view > video {
  width 100%
  height 100%
}

#welcome-hotspot {
  width 300px
  .welcome-wrapper {
    border-radius 50%
    width 100%
    max-height 300px
    background dark-color
    margin-top - 230px

    h1 {
      padding-top 70px
      text-align center
      position relative
      font-size 40px
      color #dddddd
    }

    p {
      margin-top 50px
      text-align center
      font-size 18px
      span:hover {
        -webkit-animation bounce 1s ease-out
        -moz-animation bounce 1s ease-out
        -o-animation bounce 1s ease-out
        animation bounce 1s ease-out
      }
    }

    .arrow-wrapper {
      text-align center
    }
  }
}

.hotspot-wrapper-centered {
  border-radius 50%
  width 250px
  max-height 300px
  background dark-color
  p {
    padding-top 50px
    text-align center
    font-size 18px
    span:hover {
      -webkit-animation bounce 1s ease-out
      -moz-animation bounce 1s ease-out
      -o-animation bounce 1s ease-out
      animation bounce 1s ease-out
    }
  }
  .arrow-wrapper {
    text-align center
  }

}

.draggable {
  z-index 3
  cursor move
}

.droppable {
  z-index 2
}

.hotspot {
  position absolute
  z-index 1
  opacity .8
  font-size 60px
  display none

  .hotspot-wrapper {
    border-radius 50%
    width 100%
    background red-color
    padding 25px
  }
  .blue {
    background blue-color !important
  }
}

#end-hotspot, #end-hotspot2 {

  width 60%
  opacity .85

  .end-wrapper {

    padding 15px
    text-align center
    background blue-color

    h2 {
      font-size 30px
    }
    p {
      font-size 20px
    }
    .fake-button {
      cursor pointer
      font-weight bold
      text-decoration underline
    }

  }

}

#loading-bar {
  position fixed
  bottom 0
  width 0%
  height 1px
  background #ffffff
  z-index 3
  -webkit-animation width .2s ease-out
  -moz-animation width .2s ease-out
  -o-animation width .2s ease-out
  animation width .2s ease-out
}